In [42]:
#Import the necessary libraries required for the task

import pandas as pd
import urllib.request
from pprint import pprint
from html_table_parser.parser import HTMLTableParser
import matplotlib.pyplot as plt
import seaborn as sns

Defining a function to get contents of the website

In [10]:
# Open a website and read its binary contents (HTTP Response Body)
def url_get_contents(url):
    
    #defining header
    header= {'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) ' 
          'AppleWebKit/537.11 (KHTML, like Gecko) '
          'Chrome/23.0.1271.64 Safari/537.11',
          'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
          'Accept-Charset': 'ISO-8859-1,utf-8;q=0.7,*;q=0.3',
          'Accept-Encoding': 'none',
          'Accept-Language': 'en-US,en;q=0.8',
          'Connection': 'keep-alive'}

    #making request to the website
    req = urllib.request.Request(url=url, headers=header)
    f = urllib.request.urlopen(req)

    #reading contents of the website
    return f.read()

Parsing tables and create dataframes for the first study.

In [25]:
# defining the html contents of a URL.
xhtml1 = url_get_contents('https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8804162/').decode('utf-8')

# Defining the HTMLTableParser object
p = HTMLTableParser()

# feeding the html contents in the HTMLTableParser object
p.feed(xhtml1)


# Now finally obtaining the data of the table required
ghq_score = pd.DataFrame(p.tables[0])
sm_use_and_mh = pd.DataFrame(p.tables[1])

Each row of the table is stored in an array. This can be converted into a pandas dataframe easily and can be used to perform any analysis.

In [26]:
print(ghq_score)

                                    0               1               2  \
0                                        Total sample             USA
1                     Characteristics          M (SD)          M (SD)
2                           Age group
3                         18 29 years  18.9 (6.8) ***  18.5 (6.8) ***
4                         30 39 years      17.4 (6.5)      17.5 (6.4)
5                         40 49 years      16.5 (6.7)      16.6 (6.2)
6                         50 59 years      15.4 (6.7)      14.9 (6.4)
7                         60 69 years      14.5 (6.3)      14.4 (5.8)
8                          70 years +      12.9 (5.8)      13.2 (5.5)
9                     Gender identity
10                               Male  14.8 (7.1) ***  14.7 (6.9) ***
11                             Female      16.9 (6.6)      16.9 (6.2)
12                    Education level
13  High school/tech. degree or lower  16.8 (7.4) ***   16.0 (7.0) **
14                  Bachelor's degree      16.8 (6.9)      17.1 (6.8)
15           Master's/doctoral degree      15.7 (6.2)      16.0 (6.6)
16                       Cohabitation
17                                Yes  15.8 (6.5) ***   16.1 (6.3) **
18                                 No      17.3 (7.2)      16.8 (7.0)
19                         Employment
20             Full-time or part-time      16.5 (6.6)   16.7 (6.3) **
21                      No employment      16.3 (7.3)      15.6 (6.9)

                 3               4              5
0               UK          Norway      Australia
1           M (SD)          M (SD)         M (SD)
2
3   20.7 (6.9) ***  18.4 (6.2) ***     17.7 (7.3)
4       17.9 (6.5)      16.8 (7.0)     15.1 (5.6)
5       17.8 (7.2)      15.1 (7.2)     14.2 (6.5)
6       17.9 (6.7)      13.7 (6.6)     15.0 (7.1)
7       16.8 (7.1)      13.1 (7.0)     15.1 (7.0)
8       15.0 (7.0)      10.9 (5.6)     13.2 (6.8)
9
10      17.5 (7.6)   13.0 (7.2) **     14.3 (6.0)
11      18.6 (6.8)      15.4 (6.9)     15.1 (7.0)
12
13      18.8 (7.6)  17.0 (7.7) ***     16.5 (7.9)
14      18.7 (6.7)      14.6 (7.1)     14.9 (6.7)
15      17.4 (6.6)      13.8 (6.2)     14.6 (6.3)
16
17  17.2 (6.6) ***  13.9 (6.6) ***  13.5 (5.6) **
18      20.0 (7.2)      16.4 (7.3)     17.5 (7.8)
19
20      18.0 (6.8)   14.4 (6.5) **     15.3 (6.7)
21      19.2 (7.4)      16.1 (8.1)     15.3 (7.1)

In [44]:
sns.displot(ghq_score['Age group'])

KeyError: 'Age group'

In [27]:
print(sm_use_and_mh)

                             0             1             2           3  \
0                      Motives  Total sample           USA          UK
1                                     M (SD)        M (SD)      M (SD)
2             Personal contact     3.5 (1.0)     3.6 (1.1)   3.4 (1.1)
3          Decrease loneliness     2.7 (1.3)     2.7 (1.3)   2.6 (1.2)
4                Entertainment     3.5 (1.1)     3.6 (1.1)   3.5 (1.2)
5    Maintaining relationships      3.7 1.0)     3.7 (1.0)   3.8 (1.0)
6   Social skills compensation     2.0 (1.1)     2.1 (1.2)   1.8 (1.0)
7             Social inclusion     2.3 (1.2)     2.3 (1.2)   2.2 (1.2)
8               Meeting people     1.6 (0.8)     1.6 (0.9)   1.6 (0.9)
9   Daily time on social media        n  (%)        n  (%)      n  (%)
10                      10 min      77 (2.2)      24 (1.3)    14 (2.7)
11                   10 30 min     272 (7.8)     145 (8.1)    47 (9.1)
12                    1 2 -1 h    492 (14.2)    267 (14.9)   90 (17.5)
13                       1 2 h    859 (24.7)    500 (27.9)  131 (25.4)
14                       2 3 h    567 (16.3)    429 (23.9)  107 (20.8)
15                 3 h or more    718 (20.7)  1,794 (23.9)  515 (24.5)
16               Mental health        M (SD)        M (SD)      M (SD)
17                   GHQ score    16.4 (6.8)    16.4 (6.6)  18.3 (7.0)

             4           5      6
0       Norway   Australia      p
1       M (SD)      M (SD)
2    3.3 (1.0)   3.4 (1.0)  0.001
3    2.5 (1.2)   2.4 (1.2)  0.001
4    3.5 (1.2)   3.1 (1.2)  0.001
5    3.6 (1.0)   3.6 (1.0)   0.05
6    1.5 (0.8)   1.8 (1.0)  0.001
7    2.5 (1.2)   2.4 (1.2)   0.01
8    1.5 (0.8)   1.5 (0.8)   0.01
9       n  (%)      n  (%)  0.001
10    36 (6.6)     3 (2.3)
11   69 (12.6)    11 (8.5)
12  108 (19.7)   27 (20.9)
13  189 (34.6)   39 (30.2)
14     2 (0.4)   29 (22.5)
15  547 (26.1)  129 (15.5)
16      M (SD)      M (SD)      p
17  14.9 (7.0)  15.2 (6.9)  0.001

Parsing tables and create dataframes for the second study.

In [31]:
xhtml2 = url_get_contents('https://www.ncbi.nlm.nih.gov/pmc/articles/PMC10864490/').decode('utf-8')
p.feed(xhtml2)
students_demographic = pd.DataFrame(p.tables[0])
sm_use_pattern = pd.DataFrame(p.tables[1])
gender_differences_md = pd.DataFrame(p.tables[2])

In [28]:
print(students_demographic)

                                    0               1               2  \
0                                        Total sample             USA
1                     Characteristics          M (SD)          M (SD)
2                           Age group
3                         18 29 years  18.9 (6.8) ***  18.5 (6.8) ***
4                         30 39 years      17.4 (6.5)      17.5 (6.4)
5                         40 49 years      16.5 (6.7)      16.6 (6.2)
6                         50 59 years      15.4 (6.7)      14.9 (6.4)
7                         60 69 years      14.5 (6.3)      14.4 (5.8)
8                          70 years +      12.9 (5.8)      13.2 (5.5)
9                     Gender identity
10                               Male  14.8 (7.1) ***  14.7 (6.9) ***
11                             Female      16.9 (6.6)      16.9 (6.2)
12                    Education level
13  High school/tech. degree or lower  16.8 (7.4) ***   16.0 (7.0) **
14                  Bachelor's degree      16.8 (6.9)      17.1 (6.8)
15           Master's/doctoral degree      15.7 (6.2)      16.0 (6.6)
16                       Cohabitation
17                                Yes  15.8 (6.5) ***   16.1 (6.3) **
18                                 No      17.3 (7.2)      16.8 (7.0)
19                         Employment
20             Full-time or part-time      16.5 (6.6)   16.7 (6.3) **
21                      No employment      16.3 (7.3)      15.6 (6.9)

                 3               4              5
0               UK          Norway      Australia
1           M (SD)          M (SD)         M (SD)
2
3   20.7 (6.9) ***  18.4 (6.2) ***     17.7 (7.3)
4       17.9 (6.5)      16.8 (7.0)     15.1 (5.6)
5       17.8 (7.2)      15.1 (7.2)     14.2 (6.5)
6       17.9 (6.7)      13.7 (6.6)     15.0 (7.1)
7       16.8 (7.1)      13.1 (7.0)     15.1 (7.0)
8       15.0 (7.0)      10.9 (5.6)     13.2 (6.8)
9
10      17.5 (7.6)   13.0 (7.2) **     14.3 (6.0)
11      18.6 (6.8)      15.4 (6.9)     15.1 (7.0)
12
13      18.8 (7.6)  17.0 (7.7) ***     16.5 (7.9)
14      18.7 (6.7)      14.6 (7.1)     14.9 (6.7)
15      17.4 (6.6)      13.8 (6.2)     14.6 (6.3)
16
17  17.2 (6.6) ***  13.9 (6.6) ***  13.5 (5.6) **
18      20.0 (7.2)      16.4 (7.3)     17.5 (7.8)
19
20      18.0 (6.8)   14.4 (6.5) **     15.3 (6.7)
21      19.2 (7.4)      16.1 (8.1)     15.3 (7.1)

In [29]:
print(sm_use_pattern)

                             0             1             2           3  \
0                      Motives  Total sample           USA          UK
1                                     M (SD)        M (SD)      M (SD)
2             Personal contact     3.5 (1.0)     3.6 (1.1)   3.4 (1.1)
3          Decrease loneliness     2.7 (1.3)     2.7 (1.3)   2.6 (1.2)
4                Entertainment     3.5 (1.1)     3.6 (1.1)   3.5 (1.2)
5    Maintaining relationships      3.7 1.0)     3.7 (1.0)   3.8 (1.0)
6   Social skills compensation     2.0 (1.1)     2.1 (1.2)   1.8 (1.0)
7             Social inclusion     2.3 (1.2)     2.3 (1.2)   2.2 (1.2)
8               Meeting people     1.6 (0.8)     1.6 (0.9)   1.6 (0.9)
9   Daily time on social media        n  (%)        n  (%)      n  (%)
10                      10 min      77 (2.2)      24 (1.3)    14 (2.7)
11                   10 30 min     272 (7.8)     145 (8.1)    47 (9.1)
12                    1 2 -1 h    492 (14.2)    267 (14.9)   90 (17.5)
13                       1 2 h    859 (24.7)    500 (27.9)  131 (25.4)
14                       2 3 h    567 (16.3)    429 (23.9)  107 (20.8)
15                 3 h or more    718 (20.7)  1,794 (23.9)  515 (24.5)
16               Mental health        M (SD)        M (SD)      M (SD)
17                   GHQ score    16.4 (6.8)    16.4 (6.6)  18.3 (7.0)

             4           5      6
0       Norway   Australia      p
1       M (SD)      M (SD)
2    3.3 (1.0)   3.4 (1.0)  0.001
3    2.5 (1.2)   2.4 (1.2)  0.001
4    3.5 (1.2)   3.1 (1.2)  0.001
5    3.6 (1.0)   3.6 (1.0)   0.05
6    1.5 (0.8)   1.8 (1.0)  0.001
7    2.5 (1.2)   2.4 (1.2)   0.01
8    1.5 (0.8)   1.5 (0.8)   0.01
9       n  (%)      n  (%)  0.001
10    36 (6.6)     3 (2.3)
11   69 (12.6)    11 (8.5)
12  108 (19.7)   27 (20.9)
13  189 (34.6)   39 (30.2)
14     2 (0.4)   29 (22.5)
15  547 (26.1)  129 (15.5)
16      M (SD)      M (SD)      p
17  14.9 (7.0)  15.2 (6.9)  0.001

In [30]:
print(gender_differences_md)

                                    0             1          2          3  \
0               Independent variables  Total sample        USA         UK
1          Sociodemographic variables
2                          Higher age      0.17 ***   0.17 ***       0.05
3                       Female gender      0.06 ***      0.06*       0.07
4              Higher education level          0.04       0.03       0.03
5          Living with spouse/partner        0.04 *       0.00    0.14 **
6                   Having employment       0.05 **       0.02       0.07
7                        R   2 change      9.9% ***   9.2% ***   7.6% ***
8                    Social media use
9             Personal contact motive       0.07 **     0.07 *       0.08
10         Decrease loneliness motive      0.29 ***   0.34 ***     0.11 *
11               Entertainment motive      0.13 ***   0.11 ***   0.21 ***
12   Maintaining relationships motive      0.10 ***    0.09 **    0.16 **
13  Social skills compensation motive          0.03       0.01       0.08
14            Social inclusion motive          0.03       0.05       0.08
15              Meeting people motive          0.03       0.05       0.00
16   Time spent on social media daily      0.07 ***   0.09 ***       0.07
17                       R   2 change     12.0% ***  14.3% ***   7.8% ***
18                 Explained variance     21.8% ***  23.5% ***  15.3% ***

            4          5
0      Norway  Australia
1
2    0.22 ***       0.08
3        0.05       0.03
4        0.02       0.00
5        0.03     0.22 *
6    0.16 ***       0.04
7   18.4% ***     10.6%*
8
9        0.07       0.05
10   0.27 ***       0.18
11    0.17 **       0.20
12    0.14 **       0.04
13    0.15 **       0.03
14       0.09       0.15
15       0.07       0.11
16       0.01       0.15
17  14.9% ***    17.6%**
18  33.3% ***  28.2% ***

Parsing tables and create dataframes for the third study.

In [ ]:
xhtml3 = url_get_contents('https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9122809/').decode('utf-8')
p.feed(xhtml3)
demographic = pd.DataFrame(p.tables[0])
descriptive_stat_1 = pd.DataFrame(p.tables[1])
descriptive_stat_2 = pd.DataFrame(p.tables[2])
ds_different_condittions = pd.DataFrame(p.tables[3])
sm_and_mh_correlation = pd.DataFrame(p.tables[4])